/* Corpo */
body {
	background: #FFFFFF;
	color: #242021;
	font-family: arial, sans-serif;
	font-size: 10pt;
}

/* Barra do Governo */
#barra_governo {
	width: 100%;
	height: 28px;
	background: #004B82 url(/img/barra_governo_linha.png) repeat-x;
}
#barra_governo ul {
	padding-right: 15px;
}
#barra_governo li {
	float: right;
	margin-right: 10px;
	list-style: none;
}
#barra_governo .ai{
	display: block;
	width: 161px;
	height: 24px;
	margin-top: 4px;
	background: url(/img/barra_governo_ai.png) no-repeat
}
#barra_governo .logo{
	display: block;
	width: 108px;
	height: 24px;
	margin-top: 4px;
	background: url(/img/barra_governo_logo.png) no-repeat
}

/* Links */
a {
	color: #001E60;
	text-decoration: none;
}

a:active {
	color: #001E60;
	text-decoration: none;
}

a:visited {
	color: #001E60;
	text-decoration: none;
}

a:hover {
	color: #1C1C1C;
	text-decoration: none;
}

/* Header */
#header {
	margin-top: 20px;
}
#header h1 {
	margin: 10px 0;
}
#header #logo_ifrs {
	margin: 10px 0;
}

/* Content */
#div_principal {
	background-color: #CCE7D3;
	padding: 30px 20px;
	margin-bottom: 20px;
}

#div_principal ul {
	list-style: square inside;
}

#headphone {
	margin-bottom: 20px;
}

#coluna_direita p {
	padding-left: 20px;
	margin-bottom: 10px;
}

hr {
	border: 1px solid #666;
	margin: 30px 0;
}

/* Titles */
h2 {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 1.5em;
}
h3 {
	font-weight: normal;
	font-size: 1em;
	text-transform: uppercase;
	
	margin: 20px 0;
}

/* Footer */
#footer {
	margin-top: 50px;
	font-size: 0.9em;
}

#footer .row {
	background-color: #CCE7D3;
   padding: 10px;
}

#footer a {
    font-weight: bold;
}

#footer a:hover {
    text-decoration: underline;
}

#footer address {
    font-style: normal;
    margin: 10px 0;
}

#footer #voltarTopo {
    text-align: right;
    color: #FC0;
    font-weight: bold;
}

#footer #voltarTopo a {
    background: transparent url(/img/seta_topo.gif) no-repeat right 4px;
    padding-right: 20px;
}

/* Classes */
.oculto {
	display: table;
	text-indent: -20000px;
}

.flutua_esquerda {
	float: left;
}

.flutua_direita {
	float: right;
}

.copyright {
	float: right;
	margin: 10px 0;
	font-size: 0.8em;
}

/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}

p.error em {
	font-weight: normal;
	line-height: 140%;
}

.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}

.success {
	color: #fff;
}